.section{
    height: 100vh;
}

.test{
    /* padding-top: 300px;
    padding-bottom: 300px; */
    height: 80%;
    font-family: 'Righteous', cursive;
    background: rgb(194,250,251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.words {
    color: rgb(194,250,251);
    font-size: 20px;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  
  @media(max-width:800px){
    .words span{
      font-size: 2.7rem;
    }
  }
  
  @media(max-width:800px){
    .subtitle-tagline span{
      font-size: 30px;
    }
  }


.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}