@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html,
body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: #07051a;
}

/*  */

.wrap {
  padding-top: 30px;
  padding-bottom: 40px;
  width: 60%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 46px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* card */

.card {
  margin: 0 auto;
  margin-top: 2%;
  padding: 5px 30px;
  width: 290px;
  height: 470px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: open 2s cubic-bezier(0.39, 0, 0.38, 1);
}

@-webkit-keyframes open {
  from {
    padding: 0 30px;
    height: 0;
  }
  to {
    height: 470px;
  }
}

h1,
h2,
h3,
h4 {
  position: relative;
}

h1 {
  float: right;
  color: #666;
  font-weight: 300;
  font-size: 6.59375em;
  line-height: 0.2em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

h2 {
  font-weight: 300;
  font-size: 2.25em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1);
}

h3 {
  float: left;
  margin-right: 33px;
  color: #777;
  font-weight: 400;
  font-size: 1em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}

span {
  margin-left: 24px;
  color: #999;
  font-weight: 300;
}

span span {
  margin-left: 0;
}

.dot {
  font-size: 0.9em;
}

.sky {
  position: relative;
  margin-top: 108px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #03a9f4;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;
}

.sun {
  position: relative;
  top: -3px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffeb3b;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.5s;
}

.cloud {
  position: absolute;
  top: 60px;
  left: 30px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.7s;
}

.cloud:before,
.cloud:after {
  position: absolute;
  display: block;
  content: "";
}

.cloud:before {
  margin-left: -10px;
  width: 51px;
  height: 18px;
  background: #fff;
}

.cloud:after {
  position: absolute;
  top: -10px;
  left: -22px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(3),
tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5) {
  padding-bottom: 32px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.7s;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3),
tr:nth-child(2) td:nth-child(4),
tr:nth-child(2) td:nth-child(5) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.9s;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.9s;
}

tr:nth-child(2),
tr:nth-child(3) {
  font-size: 0.9em;
}

tr:nth-child(3) {
  color: #999;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }
  99% {
    -webkit-animation-play-state: paused;
  }
  100% {
    opacity: 1;
  }
}
