body {
    background-color: #282726;
}
button {
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%,-50%);
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #2196f3;
    color: #2196f3;
    cursor: pointer;
    transition: color 0.6s ease-out ,
                box-shadow 0.3s ease 0.2s;
    font-family: Verdana;
}
button::before {
    content:"";
    position:absolute;
    left:0;right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: #2196f3;
    clip-path: circle(0 at 0% 100%);
    transition: clip-path 0.8s ease-out;
    z-index: -1;
}
button::after {
    content:"hover me";
    position:absolute;
    left:0;right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: #2196f3;
    clip-path: circle(0 at 100% 0%);
    transition: clip-path 0.8s ease-out;
    z-index: -1;
}
button:hover {
    columns: #282726;
    box-shadow: 0px 0px 10px #2196f3,
                0px 0px 40px #2196f3,
                0px 0px 80px #2196f3;
}
button:hover::before {
    clip-path: circle(200px at 0% 100%);
}
button:hover::after {
    clip-path: circle(200px at 100% 0%);
}
