@font-face
{
    font-family: myfirstfont;
    src: url("./fonts/FontsFree-Net-Billabong.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../picd/beat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.main {
    width:50%;
    text-align: center;
    margin-left: 5%;
    padding: 10px 0;
    margin-top: 10%;
}
.title {
    width: 220px;
    background-color: rgba(0,149,246,0.8);
    font-family: myfirstfont;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-left: 68%;
}

.form1 {
    position: relative;
    left:35%;
}
#user,#pass {
    width: 30%;
    background-color: rgb(250, 250,250);
    border: 1px solid rgb(142,142,142);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

#user:hover, #pass:hover {
    box-shadow: 2px 2px dodgerblue;
}

#user:focus,#pass:focus {
    outline: none;
    border: none;
    box-shadow: 5px 5px palevioletred;
}

#submit {
    width: 33%;
    background-color: rgba(0,149,246,1);
    border: 1px solid rgb(142,142,142);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    margin-top: 5px;
    color: rgb(250, 250,250);
    font-weight: bold;
}
#submit:hover {
    box-shadow: 2px 2px greenyellow;
}
    