<%- include('partials/header')  -%>

<title>Error</title>
</head>

<body>
  <%- include('partials/nav')  -%>

  <div class="center add-top">
    <h1 class="error-page">Error!</h1><br>
    <p>Something is wrong!</p>
    <p>Error message:</p>
    <p>"<%= err.errors[0].message %>"</p><br>
    <p>Re-login required if you can't access any page!</p>
  </div>
</body>

</html>