body{
  background-color: #141414;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.snip1540 {
  box-shadow: none !important;
  color: #141414;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1540 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1540 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.snip1540 figcaption {
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 15px;
  padding: 25px;
  position: relative;
  width: 100%;
}

.snip1540 figcaption:after {
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  bottom: 100%;
  content: '';
  height: 0;
  left: 32px;
  position: absolute;
  width: 0;
}

.snip1540 h3,
.snip1540 h4,
.snip1540 p {
  margin: 0 0 5px;
}

.snip1540 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.snip1540 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1540 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1540 .icons {
  padding: 20px 90px;
}

.snip1540 i {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  opacity: 0.75;
  padding: 10px 2px;
}

.snip1540 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.boxes{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 15rem;
}
@media screen and (max-width: 768px) {
 .boxes{
   margin-left: auto;
 }
 .search{
   margin: auto;
 }
}