body{
    color: black;
    margin: 0px;
    padding: 0px;
    background: url('../img/christopher-gower-vjMgqUkS8q8-unsplash.jpg') ;
    background-repeat: no-repeat;
    background-size: 1428px;
}
.left{
    display: inline-block;
    position: absolute;
    left: 20px;
    font-family: 'Roboto';
    font-size: 48px;
    text-align: inherit;
    top: 20px;
}
.left img{
    width: 60px;
}
.left div{
    color: rgb(5, 0, 0);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px
}
.mid{
    display: block;
    margin: 20px auto;
    width: 74%;
}

.right{
    
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 36px;
}
.btn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 17px 5px;
    font-size: 15px;
    background-color: khaki;
    padding: 4px 4px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(7, 0, 0);
    cursor: pointer;
}
.btn:hover{
    color: rgb(238, 4, 148);
}
.navbar{
    display: inline-block;
    margin: 17px auto;
}
.navbar li{
    display: inline-block;
    font-size: 16px;
    font-style: inherit;

}
.navbar li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 34px 23px;
    font-family: 'Roboto', sans-serif;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(238, 4, 148);
}
.container{
    border: 2px solid rgb(252, 5, 198);
    border-radius: 30px;
    margin: 70px 121px;
    padding: 39px 41px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    color: rgb(47, 3, 83);
    font-family: 'Roboto';
}
.form-group input{
    margin: 7px auto;
    text-align: center;
    padding: 4px 109px;
    font-size: 13px;
    border-radius: 30px;
}
.btn1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 5px;
    font-size: 15px;
    background-color: khaki;
    padding: 4px 4px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(7, 0, 0);
    cursor: pointer;
}
.btn1:hover{
    color: rgb(238, 4, 148);
}