.i-container{
    background-color: white;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  padding: 10px 22px;
  font-size: 18px;
  width: 360px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width:520px){
  .i-container{
    width: 80%;
  }
}