.o-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  font-size: 16px;
  width: 100%;
}
.expense-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 20px;
}
.expense-box {
  border-radius: 4px;
  border: 1px solid #e6e8e9;
  padding: 15px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 135px;
}
.expense-box > span {
  /* color: ${(props) => (props.isIncome ? "green" : "red")}; */
  font-weight: bold;
  font-size: 20px;
}
.balance-box {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.balance-box > span {
  color: #0d1d2c;
  opacity: 80%;
  font-weight: bold;
  font-size: 20px;
}
.add-transaction {
  font-size: 15px;
  background: #0d1d2c;
  display: flex;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  flex-direction: row;
  border-radius: 4px;
  font-weight: bold;
}
.add-transaction-container {
  font-size: 15px;
  /* display: ${(props) => (props.isAddTxnVisible ? "flex" : "none")}; */
  color: #0d1d2c;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e6e8e9;
  width: 100%;
  align-items: center;
  padding: 15px 20px;
  margin: 10px 20px;
  gap: 10px;
}
.add-transaction-container > input {
  width: 90%;
  outline: none;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #e6e8e9;
}
.radio-box{
    display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 10px 0;
}
.radio-box > input{
    width: unset;
    margin: 0 10px;
}
@media screen and (max-width:520px) {
  .expense-container{
    width:90%;
    /* margin: 1rem 1rem; */
  }.expense-box{
    padding: 1rem 1rem ;
  }
}
  