<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Stone Paper Scissor</title>
  </head>
  <body>

  <div class="container">
    <div class="row">

    <h1>Stone Paper Scissor</h1>
    <div class="container">
    </div></div>
    <div class="container">

      <div class="row">
        <div class="col-md-12">

    <h2> Welcome to the game <br>
    Here you are playing against the computer <br>
    We used a pseudo AI for this game <br>
    This AI will play against you<br>
    Let's see who's gonna win this game<br>
    Good luck!</h2>

    </div>
    </div>
    </div>
    <br><br><br><br>
    <h3> Press s or S for stone<br>Press p or P for paper<br>Press x or X for scissors<br> </h3>



    <form action="/submit" method="POST">
        <input type="text" name="value" placeholder = "Good Luck!">
        <input type="submit" >
    </form>

    <br><br>
    {% if s %}
        <p> Your score is </p>  {% print(s) %} <br> {%print(total_score)%}
    {% endif %}
   <!-- <button type="button" class="btn btn-secondary">Stone</button>
    <button type="button" class="btn btn-primary">Paper</button>
    <button type="button" class="btn btn-success">Scissor</button>  -->
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>