body{
    background-color: rgb(203, 216, 236);
    height: 100%;
  

}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
    font-size: 1.1em;
}
input[type="submit"]:hover
{
background-color: rgb(14, 190, 52) !important;
}
#box{
  box-shadow: 0px 0px 10px grey ;
  width: max-content;
display: grid;
grid-template-areas: 'item1 item2';
}

#item1{
  box-sizing:border-box;
  width: 100% !important;
  max-width: 100%;
  height: 100% !important;
  grid-area: item1;
}
#item2{
 
  width: 100% !important;
  max-width: 100% ;
  grid-area: item2;
}

#item1{
  float: left;
  width: 50%;
}
#item2{
  float: right;
  width: 50%;
}
@media( max-width:1142px){
#box{
  grid-template-areas: 'item1' 'item2';
box-shadow: none;
}
#item1{
  box-shadow: 0px 0px 10px grey;
  display: block;
margin-left: auto !important;
margin-right: auto !important;
}
#item2{
margin-top: 10%;
box-shadow: 0px 0px 10px grey;
margin-left: auto !important;
margin-right: auto !important;
}
#t2{
  width: 100%;
}
}
