*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{

    width: 60px;
    cursor: pointer;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}

.navbar ul li a{
    text-decoration: none;
    color: #545454;
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;    
}

.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 80px;
    color: white;
    line-height: 100px;
    float: left;
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right-col p{

    font-size: 18px;
    color: #545454;
    font-weight: 400;
    margin-right: 15px;

}

#icon{
    width: 80px;
    cursor: pointer;
}