<!-- Navbar -->
    <nav class="navbar" style="font-family: 'Mogra', cursive;">
        <a href="{% url 'home' %}" style="text-decoration: none" class="custom-card">
            <div class="brand-title" data-aos="fade-right" data-aos-duration="1200"><img src="/static/images/logo.png" alt="logo" width="150" height="40"/></div>
        </a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="/"><i class="fas fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="/weather"><i class="fas fa-cloud"></i>Weather</a>
                </li>
                <li>
                    <a href="/about"><i class="fas fa-user"></i>About</a>
                </li>
            </ul>
        </div>
    </nav>
<!-- Navbar End -->