<section class="section">
    <div class="test">
        <div class="words word-1">
            <span>W</span>
            <span>E</span>
            <span>A</span>
            <span>T</span>
            <span>H</span>
            <span>E</span>
            <span>R</span>
        </div>
    </div>
</section>