<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" id="cityName" placeholder="Enter city name">
      <button type="submit" class="searchButton" value="search" id="submitBtn">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

<div class="card" id="weathercard">
    <h2 id="city">Pune</h2>
    <h3 id="temp_status" style="font-weight: 700;">Cloudy<span style="font-weight: 500;">Wind 10km/h</span></h3>
    <h1 id="temperature">23°</h1>
    <div class="sky">
        <div class="sun"></div>
        <div class="cloud">
            <div class="circle-small"></div>
            <div class="circle-tall"></div>
            <div class="circle-medium"></div>
        </div>
    </div>
    <table style="font-size: large;">
        <tr>
            <td>FEELS LIKE</td>
            <td>HUMIDITY</td>
        </tr>
        <tr>
            <td id="feels_like">25°</td>
            <td id="humidity">57</td>
        </tr>
    </table>
</div>