
body{
    background-color: rgb(215, 173, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid{
    height: 100vh;
    width: 72vw;
}
