@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Oswald:wght@500&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  min-height: 100vh;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#diff {
  position: fixed;
  padding: 5px;
  left: 2%;
  margin-top: 0;
  color: black;
}
.h11 {
  position: absolute;
  color: rgb(255, 254, 254);
  text-shadow: 2px 2px 2px black;
}
.HighScore {
  margin-left: 3%;
  color: rgb(251, 209, 220);
  text-shadow: 2px 2px 2px black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  margin: 20px;
  padding: 20px;
  color: rgb(255, 242, 242);
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2px;
  background-size: 10%;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 50px;
  margin: 50px 50px 50px 50px;
}
#inpt {
  width: 300px;
  height: 30px;
  margin-top: 100px;
  border: none;
  border-bottom: 2px solid rgb(46, 46, 46);
  margin-bottom: 20px;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  font-family: "Merriweather", serif;
}
#inpt:focus {
  outline: none;
}
.score {
  margin-top: 80px;
}
.fun {
  position: absolute;
  bottom: 80px;
  right: 50px;
  top: 100px;
  padding: 100px;
  margin: 10px;
  border-radius: 40px;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 40px;
  visibility: hidden;
}
#btn1 {
  background: linear-gradient(to right, rgb(241, 64, 93), rgb(184, 28, 184));
  padding: 5px;
  font-size: 20px;
  border: 2px solid rgb(51, 109, 233);
  transition: 0.5s ease;
  border-radius: 5px;
  color: rgb(180, 168, 168);
}
#btn1:hover {
  color: #fff;
  transform: scale(1.1);
}
.word {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.tutorial {
  position: absolute;
  bottom: 100px;
  right: 70px;
  top: 100px;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-size: cover;
  color: black;
  font-family: "Merriweather", serif;
  width: 70%;
}
.tutorial > h2:nth-child(1){
    width: 70%;
    margin-bottom: 3%;
}
