* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'FlappyBirdy';
  src: url('./font/FlappyBirdy2.ttf') format('truetype');
}

body {
  margin-top: 10px;
  background-image: url(bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.best {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  text-align: center;
  font-size: 18px;
  font-family: 'FlappyBirdy', Helvetica, sans-serif;
  color: rgb(255, 84, 32);
  z-index: 1;
}

#score {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  text-align: center;
  font-size: 30px;
  font-family: 'FlappyBirdy', Helvetica, sans-serif;
  color: rgb(255, 84, 32);
  z-index: 1;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 70px;
  font-family: 'FlappyBirdy', Helvetica, sans-serif;
  color: rgb(255, 84, 32);
}

#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

#block {
  width: 50px;
  height: 500px;
  background-color: #1e2749;
  position: relative;
  left: 400px;
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 400px;
  }

  100% {
    left: -50px;
  }
}

#hole {
  width: 50px;
  height: 150px;
  background-color: white;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 2s infinite linear;
}

#character {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100px;
}

@media (max-width: 734px) {
  #game {
    width: 95%;
  }

  h1 {
    margin-top: 30px;
    font-size: 60px;
  }

  body {
    margin-top: 10px;
    background-image: none;
  }
}

/* #game-over {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}

.none {
  display: none;
}

#over {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font-size: 50px;
  font-family: "FlappyBirdy", Helvetica, sans-serif;
  color: rgb(255, 123, 0);
  z-index: 2;
}

#click {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  font-size: 20px;
  font-family: "FlappyBirdy", Helvetica, sans-serif;
  color: rgb(255, 123, 0);
  z-index: 3;
} */
