@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    font-family: "Poppins";

}
#addnew{
    border-radius: 5px;

}
body{
    background-image: url('assets/2834705.jpg');
    background-size: cover;
}
#btn{
    border-radius: 5px;
    background-color: #FF8882;

}

h2{
    margin-left: 30px;
    margin-top: 50px;
    color: white;
}
h3{
    color: #FF8882;
}
.main{

        width: 500px;
        border: 10px solid white;
        padding: 50px;
        margin: 20px;
        position: absolute;
        color: white;
        background-color: #194350;
top: 50%;
transform: translate(0%, -50%);
}

#search{
    border-radius: 5px;
}